<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" contetn="ie=edge">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <title>@ViewBag.Name</title>
    </head>
    <body>
        <h4>Name: @ViewBag.Name</h4>
        <h4>Types: </h4>
        <h4>
            <ul>
                @foreach(var type in @ViewBag.Types)
                {
                    <ol>@type</ol>
                }
            </ul>
        </h4>
        <h4>Height: @ViewBag.Height</h4>
        <h4>Weight: @ViewBag.Weight</h4>
        <h4>Sprites:</h4>
        @foreach(var url in @ViewBag.Sprites)
            {
                <img src=@url alt='sprite'>
            }
        <br>
        <a href='/'><button type=''>home</button></a>
    </body>
</html>